<%- include('./partials/header.ejs')%>
    <main>
        <div class="main-body">
            <h4>Welcome to Gamers Hub</h4>
            <p>Connect with Gamers all around you. Whether it's looking for memebers for a tournament, down to simply
                looking for a party for some casual play. Come join the Hub and get connecting.</p>
            <p>Check out the Event tabs to look for ongoing events!</p>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>