<footer>
    <div class="bottom-banner">
        <p class="bottom-text">©Gamers Hub</p>
        <div class="button-holder">
            <a href="" class="link-button">About Us</a>
            <a href="" class="link-button">Contact Us</a>
        </div>
        <div class="logo-banner">
            <img class="social-img" src="/images/instagram-24.png" alt="insta-logo">
            <img class="social-img" src="/images/twitter-24.png" alt="twitter-logo">
        </div>
    </div>
</footer>
</body>

</html>