<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamers Hub</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <header>
        <div class="banner">
            <a href="/"><img src="/images/GH-logo/ghTransparent.png" class="favicon" alt="gamershublogo"></a>
            <div class="right-side">
                <%if(!user){%>
                <a href="/user/new" class="link-button">Sign Up</a>
                <a href="/user/login" class="link-button">Log In</a>
                <%}else{%>
                    <a href="/events/newEvent" class="link-button">New Event</a>
                    <a href="/user/profile" class="link-button"><%=user.firstName%>'s Profile</a>
                    <a href="/user/logout" class="link-button">Logoout</a>
                <%}%>
            </div>
            <hr class="rule">
            <div class="bottom-tab">
                <a href="/events" class="link-button">Events</a>
            </div>
        </div>
        <%if(errorMessages.length > 0) {
            errorMessages.forEach(message=>{%>
                <div class="error"><%=message%></div>
                <% });
        }%>
        <%if(successMessages.length > 0) {
            successMessages.forEach(message=>{%>
                <div class="success"><%=message%></div>
                <% });
        }%>
    </header>