<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamers Hub</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <header>
        <div class="banner">
            <a href="/"><img src="/images/GH-logo/ghTransparent.png" class="favicon" alt="gamershublogo"></a>
            <div class="right-side">
                <a href="/events/newEvent" class="link-button">New Event</a>
                <a href="" class="link-button">Sign Up</a>
                <a href="" class="link-button">Log In</a>
            </div>
            <hr class="rule">
            <div class="bottom-tab">
                <a href="/events" class="link-button">Events</a>
            </div>
        </div>
    </header>